Repository primeinc/github-stars: changes, and which lefthook commands are due for each by the changed paths.
All: validate-repos-yaml, validate-schema-json, check-workflow-syntax

validate-repos-yaml:
  run: "echo \"Validating repos.yml against schema...\"\nif ! command -v ajv > /dev/null 2>&1; then\n  echo \"❌ ERROR: ajv-cli is REQUIRED for schema validation\"\n  echo \"Install: npm install -g ajv-cli ajv-formats\"\n  echo \"See CONTRIBUTING.md for setup instructions\"\n  exit 1\nfi\necho \"Runnin
  ...

validate-schema-json:
  run: "echo \"Validating JSON schemas...\"\nif ! command -v jq > /dev/null 2>&1; then\n  echo \"❌ ERROR: jq is REQUIRED for JSON validation\"\n  echo \"Install: sudo apt-get install jq (Ubuntu) or brew install jq (macOS)\"\n  echo \"See CONTRIBUTING.md for setup instructions\"\n  exit 1\nfi\nfor file
  ...

check-workflow-syntax:
  run: "echo \"Checking workflow YAML syntax...\"\nif ! command -v yq > /dev/null 2>&1; then\n  echo \"❌ ERROR: yq is REQUIRED for YAML validation\"\n  echo \"Install: sudo apt-get install yq (Ubuntu) or brew install yq (macOS)\"\n  echo \"See CONTRIBUTING.md for setup instructions\"\n  exit 1\nfi\nfo
  ...

auth: strict 3-mode resolver + App-mode REST fetch (kills credential mixing) (#77)
  .github/workflows/00-ci.yml
  .github/workflows/01-fetch-stars.yml
  .github/workflows/02-sync-stars.yml
  src/auth/auth-mode.ts
  src/auth/resolve-auth-mode.test.ts
  src/auth/resolve-auth-mode.ts
  src/auth/runtime-state.test.ts
  src/auth/runtime-state.ts
  src/auth/setup-doctor.ts
  src/fetch/cli.ts
  src/fetch/fetch-stars.ts
  src/fetch/list-paginator-rest.test.ts
  src/fetch/list-paginator-rest.ts
  src/fetch/types.ts
Due: check-workflow-syntax

repo: enforce LF line endings (.gitattributes + .editorconfig)
  .editorconfig
  .gitattributes
  schemas/repos-schema.json
Due: validate-schema-json

fix: upgrade CodeQL actions from v3 to v4
  .github/workflows/codeql.yml
Due: check-workflow-syntax

feat: add CodeQL security analysis workflow
  .github/workflows/codeql.yml
  docs/security.md
Due: check-workflow-syntax

codeql: tighten triggers + permissions to canonical advanced-setup shape
  .github/workflows/codeql.yml
  docs/security.md
Due: check-workflow-syntax

repo: enforce LF line endings (.gitattributes + .editorconfig)
  .editorconfig
  .gitattributes
Due: none

feat: add CodeQL security analysis workflow (#39)
  .editorconfig
  .gitattributes
  .github/workflows/codeql.yml
  docs/security.md
  schemas/repos-schema.json
Due: validate-schema-json, check-workflow-syntax

chore(toolchain): pivot to bun 1.3.13 + ts 6 strict + zod 4 schema registry
  .gitignore
  bun.lock
  bunfig.toml
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/contracts/env.ts
  src/contracts/registry.ts
  src/gate/cli.ts
  tests/setup/deterministic-env.ts
  tests/setup/schema-registry.ts
  tests/setup/strict-mode.ts
  tsconfig.base.json
  tsconfig.json
Due: none

fix(types): TS6 strict + bun:test API compat — typecheck + tests green
  eslint.config.ts
  scripts/epic02-watchdog.sh
  src/auth/runtime-state.test.ts
  src/fetch/fetch-stars.ts
  src/fetch/metadata-batcher.ts
  src/fetch/partial-graphql.test.ts
  src/fetch/partial-graphql.ts
  src/manifest/normalizer.test.ts
  src/sync/reconcile.test.ts
  src/sync/reconcile.ts
Due: none

chore(eslint): cite canonical sources for security carve-outs + drop stray watchdog
  eslint.config.ts
  scripts/epic02-watchdog.sh
Due: none

feat(contracts): paths-as-data catalog (config + schema + codegen + accessor)
  eslint.config.ts
  github-stars.paths.config.ts
  src/cli-normalize.ts
  src/cli-validate.ts
  src/contracts/paths-codegen.ts
  src/contracts/paths-config.ts
  src/contracts/paths.ts
  src/fetch/cli.ts
  src/sync/cli.ts
  src/sync/manifest-io.ts
  tests/setup/schema-registry.ts
Due: none

feat(gate): no-loose-zod scanner — bans z.any() / z.unknown() at call sites
  package.json
  src/gate/cli.ts
  src/gate/no-loose-zod-cli.ts
  src/gate/no-loose-zod.test.ts
  src/gate/no-loose-zod.ts
  src/host-io/fs.ts
  src/host-io/index.ts
Due: none

feat(gate): dependency-cruiser architecture rules + delete orphan evidence module
  .dependency-cruiser.mjs
  package.json
  src/diagnostics/evidence.ts
  src/gate/cli.ts
Due: none

feat(gate): knip — unused files / exports / deps + delete two more orphan modules
  eslint.config.ts
  knip.ts
  src/diagnostics/summary.ts
  src/gate/cli.ts
  src/manifest/index.ts
Due: none

feat(manifest): Zod schema as source of truth + @exodus/schemasafe boundary parser
  bun.lock
  eslint.config.ts
  package.json
  schemas/repos-schema.json
  src/manifest/json-schema.ts
  src/manifest/schema-codegen.ts
  src/manifest/schema.zod.ts
  tests/setup/schema-registry.ts
Due: validate-schema-json

ci(workflows): migrate server-side workflows from pnpm to bun
  .github/workflows/00-ci.yml
  .github/workflows/01-fetch-stars.yml
  .github/workflows/02-sync-stars.yml
  .github/workflows/03-classify-repos.yml
Due: check-workflow-syntax

feat(telemetry): src/telemetry/* — westcore-x1 OTel shape + pino redact
  knip.ts
  src/cli-normalize.ts
  src/cli-validate.ts
  src/fetch/cli.ts
  src/sync/cli.ts
  src/telemetry/index.ts
  src/telemetry/logger.ts
  src/telemetry/redact-paths.ts
  src/telemetry/register.ts
  src/telemetry/scrub.test.ts
  src/telemetry/scrub.ts
Due: none

refactor(fetch): derive GitHub REST + GraphQL types from canonical sources
  knip.ts
  src/fetch/list-paginator-rest.ts
  src/fetch/list-paginator.ts
  src/fetch/metadata-batcher.ts
Due: none

fix(codeql): close 5 alerts surfaced on PR #79
  .dependency-cruiser.mjs
  scripts/generate-readmes.js
  src/fetch/list-paginator-rest.ts
Due: none

feat(cli): src/cli/dual-write.ts + commander + listr2 + picocolors
  knip.ts
  src/auth/setup-doctor.ts
  src/cli-normalize.ts
  src/cli-validate.ts
  src/cli/dual-write.ts
  src/fetch/cli.ts
  src/sync/cli.ts
Due: none

style(cli-normalize): apply biome useTemplate suggestion
  src/cli-normalize.ts
Due: none

feat(web): rebuild on TanStack Start + tailwind v4 + bun (static prerender)
  .github/workflows/00b-web-ci.yml
  .github/workflows/04-build-site.yml
  docs/assets/app-BFd-F3eL.css
  docs/assets/index-6J0BXMKF.js
  docs/assets/index-BQaJrd6t.css
  docs/assets/index-DdVDR250.js
  docs/assets/routes-ClSxx4YK.js
  docs/data.json
  docs/index.html
  web/bun.lock
  web/eslint.config.js
  web/index.html
  web/package-lock.json
  web/package.json
  web/src/App.jsx
  web/src/App.module.css
  web/src/components/Layout.jsx
  web/src/components/Layout.module.css
  web/src/components/RepoCard.jsx
  web/src/components/RepoCard.module.css
  web/src/components/RepoCard.tsx
  web/src/contexts/ThemeContext.jsx
  web/src/index.css
  web/src/main.jsx
  web/src/routeTree.gen.ts
  web/src/router.tsx
  web/src/routes/__root.tsx
  web/src/routes/index.tsx
  web/src/styles/app.css
  web/src/types.ts
  web/tsconfig.json
  web/vite.config.js
  web/vite.config.ts
Due: check-workflow-syntax

docs(web): replace stale vite-template README with TanStack Start layout
  web/README.md
Due: none

fix(web): add @types/node so tsc resolves process in playwright.config.ts
  web/bun.lock
  web/package.json
Due: none

feat(gate): bun audit stage — block CI on high/critical CVEs (#30)
  docs/security.md
  src/gate/cli.ts
  src/host-io/spawn.ts
Due: none

docs: bot naming doctrine + permission capability ledger (#73)
  .github-stars/control-plane/permissions.yml
  docs/automation/bot-naming.md
Due: none

docs: read-the-room evidence rule + PR template (#75)
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
Due: none

feat(privacy): src/privacy/* — quarantine + sentinel leak tripwire (#74)
  src/privacy/index.ts
  src/privacy/private-quarantine.ts
  src/privacy/quarantine.test.ts
  src/privacy/quarantine.ts
  src/sync/cli.ts
  tests/setup/schema-registry.ts
Due: none

feat(classifier): typed validation gate for AI output (#71)
  .github/workflows/03-classify-repos.yml
  package.json
  src/classifier/classification-schema.ts
  src/classifier/cli.ts
  src/classifier/index.ts
  src/classifier/validator.test.ts
  src/classifier/validator.ts
  tests/setup/schema-registry.ts
Due: check-workflow-syntax

chore: add main release branch guard
  .github/workflows/00c-main-release-guard.yml
Due: check-workflow-syntax

chore: add app-backed main PR retargeter
  .github/workflows/00d-auto-retarget-main-prs.yml
Due: check-workflow-syntax

docs: document branch governance app permissions
  .github-stars/control-plane/permissions.yml
Due: none

ci: run gates for next branch
  .github/workflows/00-ci.yml
Due: check-workflow-syntax

ci: run web gate for next branch
  .github/workflows/00b-web-ci.yml
Due: check-workflow-syntax

chore: add app-backed branch ruleset bootstrap
  .github/workflows/00e-bootstrap-branch-rulesets.yml
Due: check-workflow-syntax

fix: use app client id for retarget token
  .github/workflows/00d-auto-retarget-main-prs.yml
Due: check-workflow-syntax

Path conditions:
  validate-repos-yaml: any of: repos.yml
  validate-schema-json: any of: schemas/*.json
  check-workflow-syntax: any of: .github/workflows/*.{yml,yaml}
